<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <style>
    #sidebar {
      display: flex;
      justify-content: space-between;
    }
  </style>
  <body>
    <%- include('../partials/header.ejs') %>
    <div id="sidebar">
      <main><%- body %></main>
      <ul>
        <% for (let i = 0; i < profiles.length; i++) { %> <%if(profiles[i].id !=
        profileId) {%>
        <li><a href="<%= profiles[i].id%>"><%= profiles[i].username%></a></li>
        <% } %> <% } %>
      </ul>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
