<% for (let i = 0; i < profiles.length; i++) { %> 
  <% if(profiles[i].id === profileId) { %>
  <h2><%= profiles[i].username%></h2>
  <% if(profiles[i].picturePath) { %>
    <img src="<%= profiles[i].picturePath %>" alt="<%= profiles[i].name %>" />
  <% } %>
  <ul>
    <% for (let j = 0; j < profiles[i].interests.length; j++) { %>
      <li><%= profiles[i].interests[j] %></li>
    <% } %>
  </ul>

  <p>Leave a comment: </p>
</div>
<form action="/profiles/<%= profileId %>" method="POST">
    <textarea id="comments" class="comments" name="comments"></textarea>
    <button type="submit">Submit</button>
</form>

<% if (reqInfo.roles.includes("Admin") || reqInfo.roles.includes("Manager") || (reqInfo.roles.includes("User") &&
    reqInfo.username==profileName)) { %>
    <a href="/user/register/<%= profileId %>"><button>Edit</button></a>
    <% } %>
  <li>
   
  <% } %> 
<% } %>
