<h3><%= profile_id ? "Edit" : "New" %> Profile</h3>

<form action="/profiles/edit<%= profile_id ? "/"+profile_id : "" %>" method="POST" enctype="multipart/form-data">   
    <input type="hidden" id="profile_id" name="profile_id" value="<%= profile_id %>">
    <label for="name">Name:</label>
    <input id="name" name="name" type="text" value="<%= profile.name ? profile.name : '' %>" >
    <label for="interests">Interests:</label>
    <input id="interests" name="interests" type="text" value="<%= profile.interests.join(', ') %>">
    <input id="profilePic" name="profilePic" type="hidden" value="<%= profile.picturePath %>">
    <% if (profile.picturePath) { %>
        <img src="<%= profile.picturePath %>">
    <% } %>
    <label for="picture">Profile Picture:</label>
    <input type="file" name="picture">

    <button type="submit" value="Submit">Submit</button>
</form>
<%= errorMessage %>
