<div class="profiles">

<div class="section-header">
  <h2>Profiles</h2>
</div>
<div class="profile-list">
  <div class="profile-list-header">
    <form class="form" id="profile-search" action="/user" method="GET">
      <input type="text" name="search" id="search" placeholder="Search by ..." value="<%= search %>">
      <select name="selectFilter">
        <optgroup label="Select Filter">
            <option name="firstName" value="firstName">First Name</option>
            <option name="lastName" value="lastName">Last Name</option>
            <option name="email" value="email">Email</option>
            <option name="interests" value="interests">Interests</option>
            <option name="username" value="username">Username</option>
        </optgroup>
    </select>
      <button type="submit">Search</button>
    </form>
  </div>
    <a href="/user/<%= profileId %>"> ☆ My Profile</a>
  <ul class="alternating-rows">
   
    <% for (let i = 0; i < profiles.length; i++ ) {
      if(profiles[i].username!=reqInfo.username){%>
      
    <li>
      <a href="/user/<%= profiles[i].id %>"><%= profiles[i].firstName %> <%= profiles[i].lastName%></a>
      <%   
      if (reqInfo.roles.includes("Admin")) { %>

       <a href="/user/<%= profiles[i].id %>/delete">  --->  Delete</a>
  <% } %>
                <% } %>
         

       
    </li>
    <% } %>

  </ul>
</div>
</div>