<% if(profile.username == reqInfo.username){ %>
  <p>
<b>Your Profile : </b><%= profile.firstName%> <%= profile.lastName%></p> 

<%}else{ %>
  <p> <b>User's Profile: </b><%= profile.firstName%> <%= profile.lastName%></p>  <% } %>
  <% if(profile.picturePath) { %>
    <img src="<%= profile.picturePath %>" alt="<%= profile.name %>" />
  <% } %>
  <p>
    <b>UserName: </b><%= profile.username%></p> 
    
    

      <b>Email: </b><%= profile.email%></p> 


      <ul>            <% if(profile.interests.length !=0) {%>
<b>Interests</b>
    <% for (let j = 0; j < profile.interests.length; j++) { %>
      <li><%= profile.interests[j] %></li>
    <% } %>

  </ul>
<% }else{ %>
                    <p>no interests</p>
                    <% } %>
                    <% if(profile.username != reqInfo.username){ %>
        
  <b>Leave a comment: </b>
<form action="/profiles/<%= profileId %>" method="POST">
    <textarea id="comments" class="comments" name="comments"></textarea>
    <br/><button type="submit">Submit comment</button><% } %>
  </form>

    <% 
if (reqInfo.roles.includes("Admin") || reqInfo.roles.includes("Manager") || (reqInfo.roles.includes("User") && 
    reqInfo.username==profile.username) ){ %>
     <br/> <a href="/user/edit/<%= profileId %>"><button class="edit">Edit Profile</button></a>
        <%  }%>


   
 
