
  <h2><%= profile.username%></h2>
  <% if(profile.picturePath) { %>
    <img src="<%= profile.picturePath %>" alt="<%= profile.name %>" />
  <% } %>
  <ul>            <% if(profile.interests.length !=0) {%>

    <% for (let j = 0; j < profile.interests.length; j++) { %>
      <li><%= profile.interests[j] %></li>
    <% } %>

  </ul>
<% }else{ %>
                    <p>no interests</p>
                    <% } %>
  <p>Leave a comment: </p>
</div>
<form action="/profiles/<%= profileId %>" method="POST">
    <textarea id="comments" class="comments" name="comments"></textarea>
    <button type="submit">Submit</button>
</form>


   
 
<% 
if (reqInfo.roles.includes("Admin") || reqInfo.roles.includes("Manager") ||  
    reqInfo.username==profile.username) { %>
      <a href="/user/register/<%= profileId %>"><button>Edit</button></a>
        <%  }%>