<article>
<div class="section-header">
  <h2>Profiles</h2>
</div>
<div class="profile-list">
  <div class="profile-list-header">
    <form id="profile-search" action="/user" method="GET">
      <input type="text" name="search" id="search" placeholder="Search by Name" value="<%= search %>">
      <select name="selectFilter">
        <optgroup label="Select Filter">
            <option name="firstName" value="firstName">firstName</option>
            <option name="lastName" value="lastName">lastName</option>
            <option name="email" value="email">email</option>
            <option name="interests" value="interests">interests</option>
            <option name="username" value="username">username</option>
        </optgroup>
    </select>
      <button type="submit">Search</button>
    </form>
  </div>
  <ul class="alternating-rows">
    <li>
      <a href="/user/<%= profileId %>"> ☆ My Profile</a>
      <li> 
    <% for (let i = 0; i < profiles.length; i++ ) {
      if(profiles[i].username!=reqInfo.username){%>
      
    <li>
      <a href="/user/<%= profiles[i].id %>"><%= profiles[i].username %></a>
      <li>             <% } %>
         

        <%   
          if (reqInfo.roles.includes("Admin")) { %>

      <a href="/user/<%= profiles[i].id %>/delete"><button class="delete">Delete</button></a>
      <% } %>
    </li>
    <% } %>

  </ul>
</div>
<article>
