<h1>
  My Profile
  </h1>

  Username: <%= userInfo.user.username %><br/>
  Name: <%= userInfo.user.firstName %> <%= userInfo.user.lastName %><br/>
  Email: <%= userInfo.user.email %><br/>
  Interests:<br/>   <ul>
    <% for (let j = 0; j < userInfo.user.interests.length; j++) { %>
      <li><%= userInfo.user.interests[j] %></li>
    <% } %>
  </ul>
  <% if(userInfo.user.picturePath) { %>
    <img src="<%= userInfo.user.picturePath %>" alt="<%= userInfo.user.username %>" />
  <% } %>
    <a href="/user/register/<% userInfo.user._id %>"><button>Edit</button></a>
 
  
  <% if(reqInfo.roles?.length) { %>
     
  Roles: <%= reqInfo.roles %>
  <% } %>